<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--  Azure Cloud Cosmos DB -->
    <add key="cloud:StorageConnectionString" value="..." />
    <add key="cloud:Tablename" value="AzTable" />
    <add key="cloud:TableThroughput" value="400" />
    <!-- Local Emulator -->
    <add key="emulator:StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=MyFirstCosmosDB;AccountKey=C2y6yDjf5/R+ob0N8A7Cgv30VRDJIWEHLM+4QDU5DE2nQ9nDuVTqobD4b8mGGyPMbIZnqyMsEcaGQy67XIw/Jw==;TableEndpoint=https://localhost:8081/;" />
    <add key="emulator:Tablename" value="Users" />
    <add key="emulator:TableThroughput" value="400" />
  </appSettings>
</configuration>